# day14

#### Flatten the List
Write a function called flat_list that takes one argument, a nested 
list. The function converts the nested list into a one-dimensional 
list. For example, [[2, 4, 5, 6]] should return [2, 4, 5, 6].

In [2]:
li= [[2, 4, 5, 6]]
k = [j for x in li for j in x]

In [3]:
k

[2, 4, 5, 6]

#### Teacher’s Salary
A school has asked you to write a program that will calculate 
teachers' salaries. The program should ask the user to enter the 
teacher’s name, the number of periods taught in a month, and 
the rate per period. The monthly salary is calculated by 
multiplying the number of periods by the monthly rate. The 
current monthly rate per period is $20. If a teacher has more than 
100 periods in a month, everything above 100 is overtime. 
Overtime is 25 per period. For example, if a teacher has taught 
105 periods, their gross monthly salary should be 2,125. Write 
a function called "your_salary" that calculates a teacher’s gross 
salary. The function should return the teacher’s name, periods 
taught, and gross salary. Here is how you should format your 
output:
Teacher: John Kelly, 
Periods: 105 
Gross salary:2,125

In [9]:
def your_salary():
    monthly_rate = 20
    name = input("enter name :")
    periods = int(input("number of periods taken in month"))
    if periods > 100:
        ext_p = periods-100
        ext_p = ext_p*25
        gross_salary = 2000 + ext_p
    else:
        gross_salary = periods*monthly_rate

    return print(f'Teacher: {name},\nPeriods: {periods},\n Gross Salary:{gross_salary}')

In [10]:
your_salary()

enter name : kaka
number of periods taken in month 199

Teacher: kaka,
Periods: 199,
 Gross Salary:4475