# Day16

#### Sum the List
Write a function called sum_list with one parameter that takes a 
nested list of integers as an argument and returns the sum of the 
integers. For example, if you pass [[2, 4, 5, 6], [2, 3, 5, 6]] as an 
argument, your function should return a sum of 33.

In [3]:
li =  [[2, 4, 5, 6], [2, 3, 5, 6]]

In [4]:
def sum_list(li):
    x = [first for second in li for first in second ]
    return sum(x)

In [5]:
sum_list(li)

33

#### Extra Challenge: Unpack A Nest
nested_list = [[12, 34, 56, 67], [34, 68, 78]]
Write a code that generates a list of the following numbers from 
the nested list above: 34, 67, 78. Your output should be another 
list: [34, 67, 78]. The list output should not have duplicates.

In [17]:
li =  [[12, 34, 56, 67], [34, 68, 78]]

x = [second for first in li for second in first for second in [34,67,78]]

In [18]:
list(set(x))

[34, 67, 78]