# day 3

Register Check
Write a function called register_check that checks how many 
students are in school. The function takes a dictionary as an 
argument. If the student is in school, the dictionary says "yes." If 
the student is not in school, the dictionary says "no." Your function 
should return the number of students in school. Using the 
dictionary below, your function should return 3.

In [4]:
register = {"Michael": "yes" , "Jhon": "no", "Peter": "yes", "Mary": "yes"}

In [20]:
def register_check(dic):
    x = len(list(filter(lambda x : x == "yes" , dic.values())))
    return x

In [21]:
register_check(register)

3

Extra Challenge: Lowercase Names
 
names = ["kerry", "dickson", "John", "Mary", 
 "carol", "Rose", "adam"]
You are given a list of names above. This list is made up of names 
win lowercase and uppercase letters. Your task is to write a code 
that will return a tuple of all the names in the list that only have
lowercase letters. Your tuple should have names sorted 
alphabetically in descending order. Using the list above, your code 
should return:
('kerry', 'dickson', 'carol', 'adam')

In [23]:
def lower_case(nam):
    j = tuple(filter(lambda x : x.islower() , names))
    return j

In [24]:
lower_case(["kerry", "dickson", "John", "Mary", 
 "carol", "Rose", "adam"])

NameError: name 'names' is not defined