# day7
#### A String Range
Write a function called string_range that takes a single number 
and returns a string of its range. The string characters should be 
separated by dots(.). For example, if you pass 6 as an argument, 
your function should return "0.1.2.3.4.5."

In [39]:
def string_range(val):
    k = ""
    for i in range(val):
        k +=  f"{i}."
    return k

In [37]:
def string_range(val):
    x = [str(i) for i in range(val)]
    x = ".".join(x)+"."
    return x

In [38]:
string_range(6)

'0.1.2.3.4.5.'

## Dictionary of Names
You are given a list of names, and you are asked to write a code that 
returns all the names that start with "S." Your code should return 
a dictionary of all the names that start with S and how many times 
they appear in the dictionary. Here is a list below:
names = ["Joseph", "Nathan", "Sasha", "Kelly",
 "Muhammad", "Jabulani", "Sera", "Patel", "Sera"]
Your code should return: {"Sasha": 1, "Sera": 2}

In [26]:
# def my_dict(li):
#     li1 = [i for i in li if i[0] == "S" or i[0] == "s"]
#     li2 = map(lambda x : li1.count(x) , li1)
#     li3 = zip(li1,li2)
#     dic = {}
#     for key,value in li3:
#         dic[key] = value
#     return dic

In [44]:
def my_dict(li):
    dic = {}
    for key in li:
        if key.startswith('S'):
            dic.update({key: li.count(key)})
    return dic

In [45]:
my_dict(["Joseph", "Nathan", "Sasha", "Kelly", "Muhammad", "Jabulani", "Sera", "Patel", "Sera"])

{'Sasha': 1, 'Sera': 2}